* {
    font-family: "Georgia", sans-serif;
    background-color:wheat;
    
}

.title {
    color:darkblue;
    text-align: center;
    text-shadow: whitesmoke 1px 2px 1px;
}

.title.two {
    font-weight: 100;
    text-align: left;
}

.list{
    background-color:rgba(255, 222, 125, 0.368);
    border: 0.5px solid black;

}

.list.strong{
    border: 0px;
}

.recipe-list {
    display: flex;
    flex-wrap: wrap;
    gap: 3px;
}

.recipe-list p {
    text-align: center;
    flex: 1;
    border: 2px solid firebrick;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 50%;
    border: 5px solid rgba(255, 255, 255, 0.464);
}